<div id="home">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to root_path, class: "navbar-brand" do %>
          <%= image_tag 'logo-purple.png', alt: 'brand' %>
        <% end %>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#how_it_works" class="visible-lg">How It Works</a></li>
          <li><%= link_to 'Sign Up', signup_path %></li>
          <li><%= link_to 'Log In', login_path %></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

  <header>
    <div class="container">
      <div class="row">
        <div class="col-sm-7">
          <div class="header-content">
            <h1>Meet. Connect. Share.</h1>
            <h3>Your social card is just a tap away.</h3>

            <%= link_to 'Get Started', signup_path, class: "btn btn-default btn-lg"%>
          </div>
        </div>
      </div>
    </div>
  </header>

  <section id="how_it_works" class="text-center visible-lg">
    <h2>How It Works</h2>
    <div class="container">
      <%= image_tag 'purple-arrow.png', alt: 'arrow', class: 'arrow', id: 'arrow1' %>
      <%= image_tag 'purple-arrow.png', alt: 'arrow', class: 'arrow', id: 'arrow2' %>
      <div class="row centered">
        <div class="col-sm-4">
          <h3> Choose what apps you want to share </h3>
        </div>
        <div class="col-sm-4">
          <h3> Enter the phone number you want to share with </h3>
        </div>
        <div class="col-sm-4">
          <h3> Connect </h3>
        </div>
      </div>
      <div class="row centered">
        <div class="col-sm-4">
          <%= image_tag 'select-apps.png', alt: 'select apps', width: '80%' %>
        </div>
        <div class="col-sm-4">
          <%= image_tag 'purple-phone.png', alt: 'purple phone' %>
        </div>
        <div class="col-sm-4">
          <%= image_tag 'purple-add.png', alt: 'purple add' %>
        </div>
      </div>
    </div>
  </section>
</div>
